[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rjdworkspace"]
	path = rjdworkspace
	url = https://github.com/inseefrlab/rjdworkspace
